@charset 'utf-8';
.nav{list-style-type:none;}
li{float:left;margin-right:20px;}
.myhead {height:50px;background-color:#696969;color:#ffffff;line-height:50px;padding-left:10px;}
.a1{height:600px;display:flex;flex-direction:row;justify-content:center;align-items:center;}
.b1{width:100px;height:100px;background-color:#aeaeae;line-height:100px;padding-left:70px;}
.b2{height:100px;width:500px;background-color:#aeaeae;margin-left:1px;}